<div class="row">
    <div class="col-6">
        <div class="card" style="width: 300px; margin-top: 5px;">
            <!-- <button href="#" class="btn btn-light" style="width: 280px;"> <img [src]="vestimenta.imagen" style="width:280px; height: 300px;" class="card-img-top" alt="..."> </button> -->
            <img [src]="vestimenta.imagen" style="width:298px; height: 300px;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{vestimenta.nombre}}</h5>
                <p class="card-text"><strong>$ {{vestimenta.precio}} </strong></p>
                <button class="btn" style="background-color: rgb(223, 199, 245); margin-right: 10px;" href="#">Detalle</button><button class="btn" style="background-color: rgb(223, 199, 245)" href="#" (click)="addItemCarrito(vestimenta)">Agregar al carrito</button>
            </div>

        </div>
    </div>
</div>