<div class="row">
    <div class="col-6">
        <div class="card" style="width: 300px;">
            <button href="#" class="btn btn-light" style="width: 200px;"> <img [src]="vestimenta.imagen" style="width:200px; height: 250px;" class="card-img-top" alt="..."> </button>
            <div class="card-body">
                <h5 class="card-title">{{vestimenta.nombre}}</h5>
                <p class="card-text"><strong>$ {{vestimenta.precio}} </strong></p>
                <button class="btn" style="background-color: rgb(223, 199, 245)" href="#">Detalle</button>
            </div>
        </div>
    </div>
</div>