<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><img src="assets/img/pantalonNegro.jpg" style="width:100px; height:100px;"></th>
                    <td>Pantalon Negro</td>
                    <td>$500</td>
                    <td>1</td>
                    <td>$500</td>
                    <td><button class="btn" name="pedido" style="background-color: rgb(223, 199, 245); margin-right: 10px;">Eliminar</button><button class="btn" name="pedido" style="background-color: rgb(223, 199, 245);">Editar</button></td>
                </tr>
                <tr>
                    <th scope="row"><img src="assets/img/buzoManchadoRosa.jpg" style="width:100px; height:100px;"></th>
                    <td>Buzo Fashion</td>
                    <td>$500</td>
                    <td>1</td>
                    <td>$500</td>
                    <td><button class="btn bi bi-trash" name="pedido" style="background-color: rgb(223, 199, 245); margin-right: 10px;">Eliminar</button><button class="btn" name="pedido" style="background-color: rgb(223, 199, 245);">Editar</button></td>
                </tr>
                <tr>
                    <th scope="row"><img src="assets/img/trioJeanBuzo.jpg" style="width:100px; height:100px;"></th>
                    <td>Pantalon Negro</td>
                    <td>$500</td>
                    <td>1</td>
                    <td>$500</td>
                    <td><button class="btn" name="pedido" style="background-color: rgb(223, 199, 245); margin-right: 10px;">Eliminar</button><button class="btn" name="pedido" style="background-color: rgb(223, 199, 245);">Editar</button></td>
                </tr>
            </tbody>
        </table>
        <div class="mb-3">
            <button class="btn" name="pedido" style="background-color: rgb(223, 199, 245);">Confirmar Pedido</button>
        </div>
    </div>
</div>