<div class="row">
    <div class="col-8" style="margin-left: 190px; margin-top: 35px; margin-bottom: 35px; border: 1px solid; ">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col " *ngFor="let item of columnas ">{{item}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of cartProduct">
                    <td><img [src]="producto.imagen " style="width:100px; height:100px; "></td>
                    <td>{{producto.nombre}}</td>
                    <td>${{producto.precio}}</td>
                    <td>
                        <a (click)="sumarCantidad(producto)" class="btn btn-danger ">+</a>
                        <input type="text " [value]="producto.cantidad " style="width: 35px; margin: 2px 5px; text-align: center; ">
                        <a (click)="restarCantidad(producto) " class="btn btn-danger ">-</a>
                    </td>
                    <td><button class="btn " name="eliminar" (click)="eliminar(producto) " style="background-color: rgb(223, 199, 245); margin-right: 10px; ">Eliminar</button></td>
                </tr>
            </tbody>
            <tfoot>
                <div id="total ">
                    <h6><strong>Total: $ {{total}} </strong></h6>
                </div>
            </tfoot>
        </table>
        <div class="mb-3 ">
            <button class="btn " name="confirmarCompra " style="background-color: rgb(223, 199, 245); " (click)="finalizarCompra()" routerLink="/check-out">Confirmar Carrito</button>
        </div>
    </div>
</div>