<div class="row">
    <div class="col-6">
        <div class="card" style="width: 300px;">
            <button href="#" class="btn btn-light" style="width: 200px;"> <img src="https://s.fenicio.app/f2/dcs/catalogo/articulos/220203606202-035-03_800x1200_1593701066_4c7.jpg" style="width:200px; height: 250px;" class="card-img-top" alt="..."> </button>
            <div class="card-body">
                <h5 class="card-title">CAMISA NANNING - Crudo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn" style="background-color: rgb(223, 199, 245)" href="#">Detalle</button>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card" style="width: 300px;">
            <img src="https://i.pinimg.com/474x/45/fb/63/45fb637fe7a46cd97328284ce094d131.jpg" style="width:200px; height: 250px;" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">CAMISA APPLE - Celeste</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn" style="background-color: rgb(223, 199, 245)">Detalle</a>
            </div>
        </div>
    </div>
</div>