<div class="row">
    <div class="col-12">
        <table class="table" style="background-color: rgb(248, 231, 253);">
            <thead>
                <tr>
                    <th scope="col">Servicios</th>
                    <th scope="col">Ayuda</th>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Productos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Contacto</td>
                    <td>Cómo comprar</td>
                    <td>Mi cuenta</td>
                    <td><a href="" name="productos" routerLink="/catalogo" (click)="subir()">Listado de productos</a></td>
                </tr>
                <tr>
                    <td>La Empresa</td>
                    <td>Términos y condiciones</td>
                    <td>Mis compras</td>
                </tr>
                <tr>
                    <td>Tiendas</td>
                    <td></td>
                    <td>Mis direcciones</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>