<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(223, 199, 245);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: white;">PIGMENTO</a>
        <form class="d-flex">
            <a href="https://www.facebook.com/" target="_blank"><img src="assets/img/facebook.png" alt="Facebook" style="width:32px; height:32px; margin-right: 10px;"></a>
            <a href="https://www.instagram.com/pigmento_expopaso/?hl=es" target="_blank"><img src="assets/img/instagram.png" alt="Instagram" style="width:32px; height:32px; margin-right: 10px;"></a>
            <a href="https://twitter.com/?lang=es" target="_blank"><img src="assets/img/twitter.png" alt="Twitter" style="width:32px; height:32px;"></a>
        </form>
    </div>
    <div class="carrito">
        <svg class="bi" style="width:32px; height:32px;" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#shop"/>
          </svg>
        <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
    </div>
</nav>