<div class="row">
    <app-header></app-header>
</div>
<div class="row">
    <div class="col">
        <app-carrusel></app-carrusel>
    </div>
    <div class="col">
        <img src="assets/img/floralApp.jpg" style="width: 100%;" alt="Random third slide">
    </div>
</div>
<div class="row">
    <div class="col">
        <app-menu></app-menu>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
<div class="row">
    <div class="col">
        <img src="assets/img/buzoManchadoRosa.jpg" style="width: 100%;" alt="Random third slide">
    </div>
    <div class="col">
        <img src="assets/img/pantalonNegro.jpg" style="width: 100%;" alt="Random third slide">
    </div>
</div>

<div class="row">
    <app-footer></app-footer>
</div>